@use "./colors.scss" as *;
@use "./typography.scss" as *;

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $font-stack;
  position: relative;
}

/* -------------------------------------------------------------------------- */
/*                               SCROLL BAR                                   */
/* -------------------------------------------------------------------------- */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $bg-grey #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $color-accent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $color-accent;
}

*::-webkit-scrollbar-thumb:active {
  background-color: $color-accent;
}
