@use "../global" as *;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $text-dark;
  width: 100vw;
  height: 2.5rem;
  color: $bg-grey;
  font-weight: 700;
  padding: 0.5rem;

  p {
    font-size: 12px;
  }
}

@media screen and (min-width: 926px) {
  footer {
    height: 5rem;
    p {
      font-size: 18px;
    }
  }
}
