* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

$color-dark: #2b2f32;
$color-softDark: #3d3d3d;
$color-purple: #89416e;
$color-grey: #f4f4f4;
$color-white: #ffffff;
$font-stack: "Inter", sans-serif;

$rotationDuration: 20s;
$hoverDuration: 0.3s;

$easeIn: cubic-bezier(0.32, 0, 0.67, 0);
$easeOut: cubic-bezier(0.33, 1, 0.68, 1);

$bgColor: #A6B8B1;
$accentColor: #E8D6C1;

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $font-stack;
  position: relative;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */

nav {
  z-index: 1;
  position: fixed;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
  padding: 0.25rem;
  h2 {
    cursor: pointer;
    color: $color-dark;
    font-size: 22px;
    margin: 0.5rem;
  }
  ul {
    display: none;
  }
  button {
    display: flex;
    align-items: center;
  }
  img {
    width: 25px;
  }
  .menu {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }
}

.menuBurger {
  position: absolute;
  right: 100%;
  top: 0%;
  height: 100vh;
  transition: 500ms;
  .cross {
    top: 3%;
    right: 5%;
    position: absolute;
    width: 35px;
    cursor: pointer;
  }
  .burgerUl {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      margin: 1.5rem;
      a {
        font-size: 26px;
        color: $color-dark;
        font-weight: 600;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-dark;
  width: 100vw;
  height: 2.5rem;
  color: $color-grey;
  font-weight: 700;
  padding: 0.5rem;

  p {
    font-size: 12px;
  }
}

/* -------------------------------------------------------------------------- */
/*                              PAGES STRUCTURE                               */
/* -------------------------------------------------------------------------- */
a,
li,
button {
  cursor: pointer;
}
.wrapper {
  padding: 4.5rem 1rem;
  color: $color-dark;
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
    color: $color-purple;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
  .roundedLogos {
    display: flex;
    background-color: #ffffff;
    padding: 0.75rem;
    border-radius: 100%;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
    :hover{
      filter: brightness(90%);
    }
    img {
      width: 35px;
    }
  }
}
.textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
/* -------------------------------------------------------------------------- */
/*                                   HERO                                     */
/* -------------------------------------------------------------------------- */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-grey;

  .hero-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    .profilePicture {
      width: 265px;
      border-radius: 100%;
      border: solid 12px #89416e;
    }
    span {
      display: flex;
    }
  }
.HeroMedia{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  img{
    width: 2rem;
    margin-bottom: 2px;
  }
}
  .downloadCV {
    background-color: $color-purple;
    color: $color-white;
    cursor: pointer;
    font-size: 18px;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    border-radius: 50px;
    margin: 1rem 0 1.5rem 0;
  }
.downloadCV:hover{
filter: brightness(90%);
}
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    span {
      font-weight: 600;
      border-bottom: solid 2px $color-softDark;
      padding: 0 0 1rem 0;
      margin: 0 0 2rem 0;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
    ul li {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      p {
        font-size: 16px;
      }
    }
  }
}
/* -------------------------------------------------------------------------- */
/*                                   ABOUT                                    */
/* -------------------------------------------------------------------------- */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 14rem;
    margin-bottom: 3rem;
    border-radius: 10px;
  }
  .aboutPicture{
    position: relative;
  }
  .link {
    position: absolute;
    bottom: -10%;
    right: -15%;
    width: 10rem;
    font: 300 1.55rem/1.4 "Josefin Sans"; 
    text-transform: uppercase;
  
    &__svg {
      width: 100%;
      transform-box: fill-box;
      fill: $color-softDark;
      stroke: $color-softDark;
      stroke-width: 0.05em;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  
    &__cloud {
      transform-origin: 50% 50%;
      animation: rotate normal infinite 3 * $rotationDuration linear;
      fill: rgb(255, 255, 255);
    }
  
    &__face {
      transform-origin: 50% 50%;
      transition: transform $hoverDuration / 2 $easeIn;
  
      .link:hover & {
        transform: scale(1.1);
        transition: transform $hoverDuration $easeOut;
      }
    }
  
    &__text {
      animation: rotateReverse normal infinite $rotationDuration linear;
      transform-origin: 50% 50%;
  
      .link:hover & {
        animation-play-state: paused;
      }
    }
  
    &--alt {
      font-size: 1.15rem;
    }
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotateReverse {
    to {
      transform: rotate(-360deg);
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 PORTFOLIO                                  */
/* -------------------------------------------------------------------------- */

#project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $color-grey;

  .projectCard {
    width: 75vw;
    height: fit-content;
    margin-top: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    img {
      margin-top: 1.5rem;
      border-radius: 10px;
      filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
      width: 85%;
      object-fit: cover;
    }
    h3 {
      margin: 1rem 0 1rem 0;
      font-size: 24px;
    }
    figcaption {
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      p {
        padding: 0 1.5rem;
      }
    }
    .softUsedContainer{
      display: flex;
      p {
        font-size: 16px;
        padding: 0.25rem;
        margin: 1rem;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-weight: 600;
      }
    }
    .toLink {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      margin-bottom: 1.5rem;
      img {
        border-radius: 0;
        margin: 0 0.5rem 0 0.25rem;
        width: 25px;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   CONTACT                                  */
/* -------------------------------------------------------------------------- */

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  button{
    height: 32px;
    background: none;
  }
   p:hover{
color: $color-purple;
}
  a {
    color: $color-softDark;
  }
  .contactIcon-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .contactIcons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    figure {
      display: flex;
      background-color: #ffffff;
      padding: 1rem;
      border-radius: 100%;
      box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
      img {
        width: 32px;
      }
    }
  }
}
.goUp {
  cursor: pointer;
  transition: 500ms;
  position: absolute;
  bottom: 2.5%;
  right: 5%;
  width: 45px;
}

.contactIcon-box{
  position: relative;
}
strong {
  position: absolute;
  display: flex;
  bottom: 30%;
  left: 35%;
  transition: all 500ms;
  opacity: 0;
  padding: 0.5rem;
  background-color: $color-purple;
  color: $color-white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
strong:after {
  transform: rotate(135deg);
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 44%;
  background: $color-purple;
}

@media screen and (min-width: 926px) {
  /* -------------------------------------------------------------------------- */
  /*                              PAGES STRUCTURE                               */
  /* -------------------------------------------------------------------------- */

  .wrapper {
    padding: 9rem 15rem;
    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 35px;
      color: $color-purple;
    }
    h3 {
      font-size: 28px;
    }
    p {
      font-size: 20px;
    }
    .roundedLogos {
      padding: 0.75rem;
      img {
        width: 35px;
      }
    }
    .textSection {
      text-align: start;
      align-items: flex-start;
    }
  }
  /* -------------------------------------------------------------------------- */
  /*                                   NAVBAR                                   */
  /* -------------------------------------------------------------------------- */

  nav {
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    ul {
      display: flex;
      gap: 2rem;
      a {
        font-size: 16px;
        color: $color-dark;
        font-weight: 600;
      }
      a:hover {
        color: $color-purple;
      }
    }
    .menu {
      display: none;
    }
  }

  /* -------------------------------------------------------------------------- */
  /*                                   FOOTER                                   */
  /* -------------------------------------------------------------------------- */

  footer {
    height: 5rem;
    p {
      font-size: 18px;
    }
  }

  /* -------------------------------------------------------------------------- */
  /*                                   HERO                                     */
  /* -------------------------------------------------------------------------- */
  #hero {
    .hero-main {
      flex-direction: row-reverse;
      gap: 8rem;
      padding-bottom: 12rem;
      .profilePicture {
        width: 350px;
      }
    }
    .skills {
      flex-direction: row;
      position: absolute;
      left: 0;
      bottom: 0;
      span {
        border-right: 2px solid $color-softDark;
        font-size: 18px;
        border-bottom: 0;
        margin: 0 3rem 0 0;
        padding: 0 2rem 0 0;
      }
    }
  }

  /* -------------------------------------------------------------------------- */
  /*                                   ABOUT                                    */
  /* -------------------------------------------------------------------------- */

  #about {
    flex-direction: row;
    align-items: flex-start;
    gap: 5rem;
    img {
      height: 18rem;
    }
  }

  /* -------------------------------------------------------------------------- */
  /*                                  PROJECT                                   */
  /* -------------------------------------------------------------------------- */

  #project {
    .projectCard {
      width: 70vw;
      figure {
        padding: 2rem;
        display: flex;
      }
      figcaption{
        justify-content: space-around;
      }
      .card_row_reversed{
        flex-direction: row-reverse;
      }
      img {
        margin: 0;
        width: 35rem;
      }
      .toLink{
        margin: 0;
        img{
          width: 28px;
        }
      }
    }
  }

  /* -------------------------------------------------------------------------- */
  /*                                   CONTACT                                  */
  /* -------------------------------------------------------------------------- */

  #contact {
    text-align: start;
    .contactIcon-box {
      flex-direction: row;
    }
    .contactInfo{
      align-items: flex-start;
    }
    .contactIcons {
      flex-direction: row;
    }
    .goUp {
      bottom: 5%;
      width: 55px;
    }
    .goUp:hover{
      width: 60px;
    }
    strong {
      position: absolute;
      display: flex;
      bottom: 50%;
      left: 50%;
    }
  }
}